body{
font-family:Arial, sans-serif;
background:#626060;
margin:0;
display:flex;
flex-direction:column;
min-height:100vh;
}

.page{
flex:1;
display:flex;
justify-content:center;
align-items:flex-start;
padding:30px;
}

.container{
background:rgb(242, 207, 207);
padding:25px;
width:100%;
max-width:600px;
border-radius:7px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
corner-end-end-shape:
round;
}

.topbar{
background:black;
color:rgb(255, 91, 9);
padding:15px;
display:flex;
justify-content:space-between;
scrollbar-width: auto;
}

input{
width:80%;
padding:10px;

margin:8px 0;
border:1px solid #ccc;
border-radius:4px;
background-color: #c4c4c4;

}

button{
padding:10px;
width:70%;
background:#ff8000;
color:rgb(21, 21, 21);
border:none;
margin-top:5px;
border-radius:4px;
cursor:pointer;

}

table{
width:100%;
margin-top:10px;
border-collapse:collapse;
background:#92c298;


}

td,th{
border:0.5px solid #ccc;
padding:6px;
text-align:center;

}

canvas{
max-width:400px;
margin:20px auto;
display:block;
background-color: #efefef4a;


}

footer{
background:#8a84de;
color:rgb(0, 0, 0);
text-align:center;
padding:10px;

}